#navbar {
    
}

.cs {
   
    margin-top: 8%;
    height: 10%;
    width: 100%;
}

.inner123 {
    
    width: 100%;
    height: 100%;
}

.carousel-inner img {
    max-width: 90%;
    max-height: 450px; 
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.bt2{

}

